$bgcolor: paleturquoise;
$primary: lightseagreen;
$danger: lightcoral;
@import "bootstrap/scss/bootstrap";

body {
  background-color: $bgcolor;
}

.logo {
  width: 150px;
  display: block;
  margin: 20px auto;
}
